.render {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.title {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}

.listed__links a{
    font-size: 20px;
}

.listed__links a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: purple;
}
